<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   testAppCenterProject

   Created by Sean Rose on 12/26/20.
   Copyright (c) 2020 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
  <key>AppSecret</key>
  <string>ade98601-5d98-4551-b86f-771c0ea1cf3c</string>
</dict>
</plist>
